<div>
  <h1> You have earned {{score}}</h1>
   <div> <button (click)="generateSum();"> New Sum </button> </div>
  <div *ngFor="let model of models">
    <div *ngIf="model.error" style="color:red;">{{model.error}}</div>
      <input [value]="model.first" readonly >
      {{model.sign}}
      <input [value]="model.second" readonly>
      =
      Your Answer<input   [(value)]="model.solvedResult"  > | 
      <span  *ngIf="model.solved">   Answer <input  readonly [value]="model.result"></span>
      <button (click)="check(model)">Check</button>
 
  </div>
</div>