<div>
  <h1> You have earned {{score}}</h1>
   <div> <button (click)="generateSum();"> New Sum </button> </div>
  <div *ngFor="let model of models">
    <div *ngIf="model.error">{{model.error}}</div>
      <input [value]="model.first">
      {{model.sign}}
      <input [value]="model.second">
      =
      <input [value]="model.solvedResult" [value]="model.solvedResult || ''" *ngIf="!model.solved">
      <input [value]="model.result" *ngIf="model.solved">
      <button (click)="check(model)">Check</button>
 
  </div>
</div>